#title{
  background-color: #ff4c68;
  color: #fff;
}
#container{
  /* text-align: center; */
  padding: 3% 15%;
}
#b1{
  background-color: black;
}
body{font-family: "Montserrat"}
h1{
font-family: "Montserrat-Black" serif;
font-size: 40rem;
font-weight: bolder;
line-height: 20rem;
margin-top: 5%;
}
/* font-family: 'Sacramento', cursive;
font-family: 'Ubuntu', sans-serif; */
/* NAVIGATIvON BAR */
#navbrnd{
  font-family: "Ubuntu";
  font-size: 12px;
  font-weight: bolder;
  display: inline-block;
}
.download-button{
    margin-top: 7%;
    margin-bottom: 7%;
    margin-left: 3%;
}
#features{
  padding: 7% 10%;
  position: relative;
  background-color: #fff;
}
.features-class{
  margin-top: 10%;
  margin-bottom: 10%;
  text-align: center;
  /* display: inline-block; */
  font-size: 1.5rem;
  position: relative;

}
.container-fluid{
  padding: 3% 15% 7%;
}
.dogimg{
  /* margin-left: 19%; */
  width: 60%;
  transform: rotate(25deg);
  height: 35rem;
  position: absolute;
  right: 20%;
}
@media (max-width: 1024px) {
  .dogimg{
    transform: rotate(0deg);
    position: static;
    width: 60%;
    height: 35rem;
    right: 20%;

  }
}
.icon{
  margin: 7% 7%;
  color: #ef8172;
}
.icon:hover{
  color: #ff4c68;
}
/* fa-solid fa-heart fa-beat fa-4x */

/* Testimonials */
h{
  font-family: 'Lato', sans-serif;
  font-size: 4rem;
  line-height: 5rem;
  font-weight: bold;

}
ht{
  font-family: 'Lato', sans-serif;
  font-size: 3rem;
  line-height: 2em;
  font-weight: bold;


}
.carousel-item{
  padding: 10% 10%;
text-align: center;
}
#testimonials{

  /* padding:10% 10%; */
  text-align: center;
  background-color: #ef8172;
  color: white;

}
.dogimg2{
  padding: 5% 5%;
  border-radius: 100%
}

/* Press */
#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 5%;
}
.press-logo{
  width: 15%;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 10%:
}

.pricing-column{
  padding: 1% 20%;
  text-align: center;
    line-height: 2em;
}
.pricing-padding{
  padding: 1% 10%;
}
/* cta */
.cta{
  background-color: #ff4c68;
padding: : 30%;
  color: white;
  text-align: center;
}
 #footer{
   text-align: center;
   padding: 7% 10%;
 }
.social-icon{
  width: 5%;
  padding : 5% 3%;
}
.social-icon:hover{
  color: #ff4c68;
}
